
@import "glassy-theme-preset";

body {
    font-family: $body-font;
    font-size: 18px; /* Initial font size */
    color: $text-color;
    line-height: 1.4em;
    letter-spacing: 0;
}

/* link  */

a{
    text-decoration: none;
    color: $link-color;
}
a:hover{
    color: $link-hover-color;
}


// Heading Font 

h1,h2,h3,h4,h5,h6{
    font-family: $heading-font;
    color: $heading-color;
}


/* Standard font styles for each heading */
body h1 {
    font-size: 45px;
    line-height: 1em;
    letter-spacing: 0;
}

body h2 {
    font-size: 36px;
    line-height: 1em;
}

body h3 {
    font-size: 28px;
    line-height: 1em;
}

body h4 {
    font-size: 24px;
    line-height: 1em;
}

body h5 {
    font-size: 20px;
    line-height: 1em;
}

body h6 {
    font-size: 18px;
    line-height: 1em;
}

/* Media query for max-width 980px */
@media (max-width: 980px) {

    /* Body font size responsive */

    body {
        font-size: 16px;
    }

    body h1 {
        font-size: 32px;
    }

    body h2 {
        font-size: 28px;
    }

    body h3 {
        font-size: 24px;
    }

    body h4 {
        font-size: 20px;
    }

    body h5 {
        font-size: 16px;
    }

    body h6 {
        font-size: 14px;
    }
}

/* Media query for max-width 767px */
@media (max-width: 767px) {

    /* Body font size responsive */

    body {
        font-size: 14px;
    }


    body h1 {
        font-size: 28px;
    }

    body h2 {
        font-size: 24px;
    }

    body h3 {
        font-size: 20px;
    }

    body h4 {
        font-size: 18px;
    }

    body h5 {
        font-size: 16px;
    }

    body h6 {
        font-size: 14px;
    }
}
