/* Footer style  */


#glassy-footer{  
    background: #2978e1;
    border-top: 10px solid #25a4e1;
    border-radius: 8vw 8vw 0px 0px; 
  }
  
  #glassy-footer p{
    color: #ffeddd;
  }
  
  .footer-title{
    color: #ffeddd;
  }
  
  #copyright{
    background: #2978e1;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
  }
  
  
  /* Footer End  */