
.row{
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    max-width: 100%;
    overflow: scroll;
}

/* One-column layout */
.row.col-1 {
grid-template-columns: 1fr;
}

/* Two-column layout */
.row.col-2{
grid-template-columns: repeat(2, 1fr);
}

/* Three-column layout */
.row.col-3 {
grid-template-columns: repeat(3, 1fr);
}

/* four-column layout */
.row.col-4{
    grid-template-columns: repeat(4, 1fr);
}

/* Five-column layout */
.row.col-5{
    grid-template-columns: repeat(5, 1fr);
}

/* Six-column layout */
.row.col-6{
    grid-template-columns: repeat(6, 1fr);
}

/* 70% left and 30% right column */

.row.right-sidebar{
    grid-template-columns: 7fr 3fr;
}
.row.left-sidebar{
    grid-template-columns: 3fr 7fr;
}


/* Two-column layout for medium screens (max-width: 980px) */
@media (max-width: 980px) {
    .row.col-2, .row.col-3, .row.col-4, .row.col-5, .row.col-6 {
        grid-template-columns: repeat(2, 1fr);
    }
    .row.right-sidebar{
        grid-template-columns: 1fr;
    }
    .row.left-sidebar{
        grid-template-columns: 1fr;
    }
}

/* One-column layout for small screens (max-width: 767px) */
@media (max-width: 767px) {
    .row.col-1, .row.col-2, .row.col-3, .row.col-4, .row.col-5, .row.col-6 {
        grid-template-columns: 1fr;
    }
}