// Colors 

$theme-color: #25a4e1;
$accent-color: #2978e1;
$light-color: #ffffff;
$dark-color: #000000;
$heading-color: #000000;
$text-color: #3d3d3d;
$link-color: #25a4e1;;
$link-hover-color: #2978e1;

// Font Family 

$heading-font: "Montserrat", sans-serif;
$body-font: "Montserrat", sans-serif;







