/* Common color variables */
:root {
    --primary-color: #007bff; /* Blue */
    --secondary-color: #6c757d; /* Gray */
    --success-color: #28a745; /* Green */
    --danger-color: #dc3545; /* Red */
    --warning-color: #ffc107; /* Yellow */
    --info-color: #17a2b8; /* Teal */
}


/* Common box shadow presets */
:root {
    --box-shadow-small: 0 2px 4px rgba(0, 0, 0, 0.1);
    --box-shadow-medium: 0 4px 8px rgba(0, 0, 0, 0.1);
    --box-shadow-large: 0 8px 16px rgba(0, 0, 0, 0.1);
}